.flex {
    display:flex;
    
    &-row {
        flex-flow: row;
    }

    &-j-center {
        justify-content: center;
    }

    &-end {
        justify-content: end;
    }

    &-col {
        flex-flow: column;
    }

    &-a-center {
        align-items: center;
    }

    &-j-between {
        justify-content: space-between;
    }
}

.spacing {
    &-m-t-5 {
       margin-top: 5rem;
    }
}

.wrapper {
    max-width: 1200px;
    margin-right: auto!important;
    margin-left: auto!important;
}


.generic {

    &-hero-text {
        color: $primaryColor;
        font-size: 102px;

        @include for-medium-phone-max {
            font-size: 52px;
        }
    }

    &-header {
        color: $primaryColor;
        position: relative;
        font-size: 52px;
        margin-bottom: 5rem;

        @include for-medium-phone-max {
            font-size: 38px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 35%;
            height: 2px;
            background-color: $primaryColor;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }

        &-white {
            color: white;
        }
    }

    &-content {
        margin-top: 3rem;
        margin-bottom: 7rem;
        min-height: 70vh;
    }
}